<div class="container">
    <img src="~/images/agente-de-atendimento-ao-cliente.png"  alt="Fale Conosco"/>
    <div class="jumbotron">
        <h3> Entre em contato</h3>
        <p>Esclarecemos qualquer dúvida</p>
        <p>
            <span>
                <img src="~/images/envelope.png"/>
            </span>
           
            <h5>
                <email endereco="rosinhaspd00@gmail.com" conteudo="Enviar um e-mail"></email>
                </h5>
            <br />
            <span>
                <img src="~/images/telefone.png"/>
            </span>
            <h5>(+999) 9999-8888</h5>
            <br />
            <span>
                <img src="~/images/mapas-e-bandeiras.png"/>
            </span>
            <h5>Rua das Flores, 123, Bairro Jardim, Cidade Nova, Estado, CEP 12345-678</h5>
        </p>


    </div>

</div>